
# Ignore dynaconf secret files
.secrets.*
.env

# db files
*.sqlite3

# cache
__pycache__/
*py[cod]

# migrations
migrations/


# Useless files
poetry.lock
staticfiles/bootstrap/css/bootstrap-grid.css
staticfiles/bootstrap/css/bootstrap-grid.css.map
staticfiles/bootstrap/css/bootstrap-grid.min.css
staticfiles/bootstrap/css/bootstrap-grid.min.css.map
staticfiles/bootstrap/css/bootstrap-reboot.css
staticfiles/bootstrap/css/bootstrap-reboot.css.map
staticfiles/bootstrap/css/bootstrap-reboot.min.css
staticfiles/bootstrap/css/bootstrap-reboot.min.css.map
staticfiles/bootstrap/css/bootstrap.css
staticfiles/bootstrap/css/bootstrap.css.map
staticfiles/bootstrap/css/bootstrap.min.css.map
staticfiles/bootstrap/js/bootstrap.bundle.js
staticfiles/bootstrap/js/bootstrap.bundle.js.map
staticfiles/bootstrap/js/bootstrap.bundle.min.js
staticfiles/bootstrap/js/bootstrap.bundle.min.js.map
staticfiles/bootstrap/js/bootstrap.js
staticfiles/bootstrap/js/bootstrap.js.map
staticfiles/bootstrap/js/bootstrap.min.js.map

# Media files
media/documents/*

# VScode files
.vscode

# Static Files
static/
