{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

Edit

<form method="POST">
    {% csrf_token %}

    {{ form|bootstrap }}

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

{% if object %}
    <a href="{% url 'documents:create_document' object.id %}" class="mt-2 btn btn-info">Adicionar Documento</a>

    {% for document in object.document_set.all %}
        <a href="{{ document.file.url }}">{{ document }}</a><br />
    {% endfor %}

{% endif %}

{% endblock main %}