{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/globalstyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheets %}
    {% endblock stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
  
    {% if user.id %}
    <div class="navbar navbar-dark bg-dark">
      <a href="{% url 'core:home' %}">
        <i class="fa fa-home"></i>
        <span>eHR</span>
      </a>

      <div class="">
        <button class="btn btn-dark m-0" id="dropdownMenu2">
          <img src="{% static 'img/an.jpg'%}" class="user_profile" alt="...">{{ user.employee.name }}
        </button>

      </div>
    </div>
    {% endif %}

    <div class="{% block container %}{% endblock container %} w-100">{% block main %} {% endblock main %}</div>
    {% block static %}
    {% endblock static %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
  </body>
</html>
