{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}" />
<link rel="stylesheet" href="{% static 'css/main.css'%}" />
{% endblock stylesheets %}

{% block main %}
<div class="m-1 p-0 row">
  <nav id="nav-menu" class="py-2 col-sm-12 col-md-3 bg-dark">

    <div class="mt-2 clearfix w-100"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix d-flex justify-content-between">
      <div class="profile_pic">
        <img src="{% static 'img/an.jpg'%}" alt="..." class="profile_img" width="100" height="100">
      </div>
      <div class="profile_info">
        <span>Olá,</span>
        <h3>{{ user.employee.name }}</h3>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <ul class="nav mt-2 flex-column nav-pills">

      <li class="nav-item">
        <a class="py-2 nav-link text-center btn btn-dark" href="{% url 'employee:list_employees' %}">Gerenciar
          Funcionarios</a>
      </li>
      <li class="nav-item">
        <a class="py-2 nav-link text-center btn btn-dark" href="{% url 'department:list_departments' %}">Gerenciar
          Departamentos</a>
      </li>
      <li class="nav-item">
        <a class="py-2 nav-link text-center btn btn-dark" href="{% url 'overtime:list_overtime' %}">Gerenciar Banco de
          Horas</a>
      </li>

      <li class="nav-item">
        {% if user.employee.company %}
        <a class="py-2 nav-link text-center btn btn-dark" href="{% url 'edit_company' user.employee.company.id %}">
          Editar empresa
        </a>
        {% else %}
        <a class="py-2 nav-link text-center" href="{% url 'create_company' %}">Criar empresa</a>
        {% endif %}
      </li>

      <li class="nav-item">
        <a class="nav-link btn btn-dark" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
  </nav>
  <div id="main-content" class="col-sm-12 col-md-9 container row p-2">
    <div class="card bg-dark col-lg-5 mx-4 my-2">
      <div class="card-title text-center pt-2">
        <h5>Estatisticas - Funcionarios</h5>
      </div>
      <a href="{% url 'employee:report_employees' %}" class="button-relatorio btn btn-primary">Gerar Relatório</a>
      <a href="{% url 'employee:export_csv' %}" class="mt-2 button-relatorio btn btn-primary">Baixar CSV</a>
      <a href="{% url 'employee:export_excel' %}" class="mt-2 button-relatorio btn btn-primary">Baixar Excel</a>
    </div>

    <div class="card bg-dark bg-dark col-lg-5 mx-4 my-2">
      <div class="card-title text-center pt-2">
        <h5>Estatisticas - Departamentos</h5>
      </div>
      <a href="{% url 'department:report_departments' %}" class="button-relatorio btn btn-primary">Gerar Relatório</a>
      <a href="{% url 'department:export_csv' %}" class="mt-2 button-relatorio btn btn-primary">Baixar CSV</a>
      <a href="{% url 'department:export_excel' %}" class="mt-2 button-relatorio btn btn-primary">Baixar Excel</a>
    </div>

    <div class="card bg-dark col-lg-5 mx-4 my-2">
      <div class="card-title text-center pt-2">
        <h5>Estatisticas - Banco de Horas</h5>
      </div>
      <a href="{% url 'overtime:report_overtime' %}" class="button-relatorio btn btn-primary">Gerar Relatório</a>
      <a href="{% url 'overtime:export_csv' %}" class="mt-2 button-relatorio btn btn-primary">Baixar CSV</a>
      <a href="{% url 'overtime:export_excel' %}" class="mt-2 button-relatorio btn btn-primary">Baixar Excel</a>
    </div>

    <div class="card bg-dark col-lg-5 mx-4 my-2">
      <div class="card-title text-center pt-2">
        <h5>Estatisticas da Empresa</h5>
      </div>
      <a href="{% url 'employee:report_employees' %}" class="button-relatorio btn btn-primary">Gerar Relatório</a>
      <a href="{% url 'employee:export_csv' %}" class="mt-2 button-relatorio btn btn-primary">Baixar CSV</a>
      <a href="{% url 'employee:export_excel' %}" class="mt-2 button-relatorio btn btn-primary">Baixar Excel</a>
    </div>
  </div>
</div>
{% endblock main %}

{% block static %}
{% endblock static %}