.btn-info {
    background-color: #240090;
    border-color: #240090;
  }

.btn-info:hover {
    background-color: #3500d3;
    border-color: #3500d3;
}


.btn-info:active{
    color: #fff;
    background-color: #240090;
    border-color: #3500d3;
    box-shadow: 0 0 0 0.2rem rgba(58, 79, 195, 0.5);
}


.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color:  #3500d3;
  border-color: #3500d3;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 79, 195, 0.5);
}

/*
Card
*/
.card {
  color: #fff;
  min-height: 50vh;
  border-radius: 0.5rem;
  transition: 0.4s;
  box-shadow: 2px 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card:hover {
  transition: 0.4s;
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);

}