#table-employees {
    border-radius: 0.5rem;
    background-color: #121212;
    box-shadow: 2px 14px 20px rgba(58, 79, 195, 0.3), 0 10px 10px #ababab
}

#table-employees:hover {
    box-shadow: 0 7px 14px rgba(58, 79, 195, 0.3), 0 5px 5px #ababab;
}