{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block main %}
    <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-info">Salvar</button>
        
        {% if object %}
            <a class="btn btn-danger" href="{% url 'overtime:delete_overtime' object.id %}">
                Deletar
            </a>
            <button id="prevented" class="btn btn-primary" onclick="hasUsedOvertime({{ object.id }})"> Liberar Hora Extra</button>
        {% endif %}
    </form>

<p id="mensagem"></p>
<h4 id="horas-atualizadas"> {{ object.total_overtime }} </h4>


{% endblock main %}

{% block static %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock static %}